{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container w-50 mt-5">

  <h1>My Bookings</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Channel</th>
        <th scope="col">Slot</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>

    <tbody>
      {% for booking in all_bookings %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ booking.channel.name }}</td>
        <td>{{ booking.slot}}</td>
        <td>
          <a href="{{ url_for('delete_booking',id=booking.id) }}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

    
    {{ booking }}
    <br>




</div>

{% endblock %}