{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container w-50 mt-5">

  <h1>My Bookings</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Channel</th>
        <th scope="col">Date</th>
        <th scope="col">Slot</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>

    <tbody>
      {% for booking in all_bookings %}
      <form id="form{{ booking.id }}" action="{{ url_for('booking_update') }}" method="POST"></form>
      <tr>
        <th scope="row">
          {{ loop.index }}
          <input form="form{{ booking.id }}" name="booking_id" hidden id="booking_id{{booking.id}}" type="text" value="{{ booking.id }}">
        </th>
        <td>
          <!-- {{ booking.channel.name }} -->
          <select form="form{{ booking.id }}" name="channel_id" onchange="handler({{ booking.id }});" id="channel{{ booking.id }}" class="form-control">
            {% for channel in channels %}
            
            <option value="{{ channel.id }}"
            {% if channel.name == booking.channel.name %}
            selected
            {% endif %}
            >{{ channel.name }}</option>
            {% endfor %}
          </select>
        </td>
        <td><input form="form{{ booking.id }}" name="date" onchange="handler({{ booking.id }});" id="date{{ booking.id }}" type="date" value="{{ booking.date }}">
        </td>
        <td>
          <select name="slot_id" form="form{{ booking.id }}" class="form-control" id="slot{{booking.id}}">
            {% for channel in channels %}
              {% if channel.name == booking.channel.name %}
                {% for slot in channel.slots %}
                <option value="{{ slot.id }}"
                  {% if booking.slot_id == slot.id  %}
                  selected
                  {% endif %}
                >{{ slot }}</option>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </select>
        </td>
        <td>
          <a class="btn btn-danger" href="{{ url_for('delete_booking',id=booking.id) }}">Delete</a>
          <input class="btn btn-primary" form="form{{ booking.id }}" type="submit" value="Update">
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

    
    {{ booking }}
    <br>




</div>
<script src="{{url_for('static', filename='js/booking.js')}}"></script>

{% endblock %}