{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container">

    <h1>Channel Name : {{ channel.name }}</h1>
    <h3>Start Date : {{ channel.start_date }}</h3>
    <input type="hidden" id="c_start_date" value="{{ channel.start_date }}">

  
    <!-- Student View  -->
    <form method="POST" action="{{ url_for('book') }}">
      <input type="hidden" name="user_id" value="{{ current_user.id }}" >
      <input type="hidden" id="channel_id" name="channel_id" value="{{ channel.id }}" >
      <input onchange="handler(event);" id="date" type="date" name="date" required>
      <br>
      {% for slot in channel.slots %}
      <label for="checkbox{{ slot.id }}"> {{ slot }}     
        <input class="radio" type="radio" id="checkbox{{ slot.id }}" name="slot_id" value="{{ slot.id }}">
      </label>
      <br>
      {% endfor %}
      <input type="submit" value="Book">
    </form>

    <!-- Teacher View -->
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Slot #</th>
            <th scope="col">Start Time (hrs)</th>
            <th scope="col">End Time (hrs)</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>

          {% for slot in channel.slots %}
          <tr>
            <form id="form{{ slot.id }}" action="{{ url_for('slot_update') }}" method="POST"></form>
            <input form="form{{ slot.id }}" type="hidden" name="slot_id" value="{{ slot.id }}">
            <th scope="row">{{ loop.index }}</th>
            <td>
                <input form="form{{ slot.id }}" name="start_time" type="text" class="form-control col-7" value={{ slot.start_time }} >
            </td>
            <td>
                <input form="form{{ slot.id }}" name="end_time" type="text" class="form-control col-7" value={{ slot.end_time }}>
            </td>            
            <td>
              <input form="form{{ slot.id }}" type="submit" value="Update">
              <form method="POST" action="{{ url_for('slot_delete',id=slot.id) }}">
                <input type="submit" value="Delete">
              </form>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    
    <h3>Add New Slot</h3>
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.channel_id(value=channel.id) }}
        {{ form.start_time.label }}{{ form.start_time() }}
        {{ form.end_time.label }}{{ form.end_time() }}
        {{ form.submit() }}
    </form>
</div>
{% endblock %}