{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
            {% for category, message in messages %}
            <div class="container alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <!-- <strong>Title</strong> --> {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Channel Name : {{ channel.name }}</h1>
    <h3>Start Date : {{ channel.start_date }}</h3>

 

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Slot ID</th>
            <th scope="col">Start Time (hrs)</th>
            <th scope="col">End Time (hrs)</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>

          {% for slot in channel.slots %}
          <tr>
            <th scope="row">{{ slot.id }}</th>
            <td>
                <input type="text" id="disabledTextInput" class="form-control col-7" value={{ slot.start_time }} disabled>
            </td>
            <td>
                <input type="text" id="disabledTextInput" class="form-control col-7" value={{ slot.end_time }} disabled>
            </td>            <td><button>Edit</button></td>
          </tr>
          {% endfor %}

        </tbody>
      </table>

    <form method="POST">
        {{ form.csrf_token }}
        {{ form.channel_id(value=channel.id) }}
        {{ form.start_time.label }}{{ form.start_time() }}
        {{ form.end_time.label }}{{ form.end_time() }}
        {{ form.submit() }}
    </form>
</div>
{% endblock %}