{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<!-- {% for mess in get_flashed_messages(with_categories=true) %}

<div class="container alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> {{ mess }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endfor %} -->



<div class="container mt-5">
    {% if current_user.type == 1 %}
    <h1>Create New Channel</h1>
    <!-- <form action="{{ url_for('create_channel') }}" method='POST'>
        <input required type="text" name="c_name" placeholder="Channel Name">
        <button type="submit">SUBMIT</button>
    </form> -->

    <form action="{{ url_for('create_channel') }}" method="POST">
        {{ create_channel_form.hidden_tag() }}
        {{ create_channel_form.name.label }} {{ create_channel_form.name() }}
        <br>
        {{ create_channel_form.date.label }} {{ create_channel_form.date() }}
        <br>
        {{ create_channel_form.capacity.label }} {{ create_channel_form.capacity() }}
        <br>
        {{ create_channel_form.submit() }}
    </form>
    <br>
    {% endif %}

    <div class="card-group">
    {% for channel in channels %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ channel.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Start Date : {{ channel.start_date }}</h6>
          <h6 class="card-subtitle mb-2 text-muted">Capacity : {{ channel.capacity }}</h6>
          <a href="{{ url_for('channel', id=channel.id) }}" class="card-link">View Slots</a>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}