{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container w-50 mt-5">

  <h1>User Registration</h1>

  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label }}{{ form.name() }}
    <br>
    {{ form.username.label }}{{ form.username() }}
    <br>
    {{ form.password.label }}{{ form.password() }}
    <br>
    {{ form.confirm_password.label }}{{ form.confirm_password() }}
    <br>
    {{ form.type.label }}{{ form.type }}
    {{ form.submit() }}
</form>


</div>

{% endblock %}