{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container w-50 mt-5">


  <h1>All Users</h1>
  <a href="{{url_for('register')}}"><button class="btn btn-primary">Create New Account</button></a>


  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">User #</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">User Type</th>
        <th scope="col">Last Logged In</th>
        <th scope="col">Last Logged Out</th>
        <th scope="col">Delete Account</th>
      </tr>
    </thead>
    <tbody>

      {% for user in users %}
      <tr>
        <form id="user{{ user.id }}" action="{{ url_for('update_user') }}" method="POST"></form>
        <input form="user{{ user.id }}" type="hidden" name="user_id" value="{{ user.id }}">
        <th scope="row">{{ user.id }}</th>
        <td><input form="user{{ user.id }}" name="name" type="text" value="{{ user.name }}"></td>
        <td><input form="user{{ user.id }}" name="username" type="text" value="{{ user.username }}"></td>
        <td>
          {% if user.type == 0 %}
          User Administrator
          {% elif user.type == 1 %}
          Staff
          {% elif user.type == 2 %}
          Student
          {% endif %}
        </td>
        {% if user.last_logged_in %}
        <td>{{ user.last_logged_in.strftime("%d/%m/%Y  %H:%M:%S")}}</td>
        {% else %}
        <td>Not Logged In Yet</td>
        {% endif %}

        {% if user.last_logged_out %}
        <td>{{ user.last_logged_out.strftime("%d-%m-%Y  %H:%M:%S")}}</td>
        {% else %}
        <td>Not Logged Out Yet</td>
        {% endif %}
        <td>
          <a class="btn btn-danger" href="{{ url_for('delete_user', id=user.id) }}">Delete</a>
          <input class="btn btn-primary" form="user{{ user.id }}" type="submit" value="Update" >
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>






</div>

{% endblock %}